

.page {
    max-width: 1920px;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
}
.page_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;right: 0;
    z-index: -1;
}
.page_image img {
    width: 100%;
}
.tanya {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 0.4;
    clip-path: ellipse(70% 80% at 50% 25%);
    -webkit-clip-path: ellipse(70% 80% at 50% 25%);
}

@media (max-width: 576px) {
 /*   .page_image img {
        width: auto;
        object-fit: fill;
        margin-left: -25%;
    }  
    .tanya {
        top: 25%;
        left: 35%;
    }  */
}